/* =================================
  Base Element Styles
====================================*/

*{
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	/*no bullet points in list*/
}

h1 {
	font-size: 1.5em;
}

h1,
h2,
h3 {
	margin-top: 0;
}

p,
span {
	font-family: 'Heebo', sans-serif;
	/*Font chosen for "throwback" visuals*/
	font-size: 1em;
}
/*all paragraphs and spans will have same font.  Using spans for
the "Reveal" feature in .test1questions on Test 1 page*/




/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
		font-size: 1.35em;
}



.name a,
.main-nav a {
	color: white;
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.main-header,
.main-footer {
	background: linear-gradient(darkgreen, transparent 90%),
							linear-gradient(270deg, #00b300, transparent),
							darkgreen;
}

/*creates the green gradient on header and footer to make site
more visally appealing.  Originally started with solid darkgreen
color, and it looked like a bad 90's website.*/

.main-header {
	font-family: 'Bungee Shade', cursive;
	/*using .main-header class instead of .name class because it loads
	faster in the browser.  When .name is used, the default browser
	font can be seen momentarily.  Not sure why exactly*/
}

.main-nav a {
	font-family: 'Orbitron', sans-serif;
}

.selected {
	border-style: inset;
	border-color: black;
}

.main-header a:hover {
	color: black;
}

.main-footer {
	padding: 1.5em 1em;
	margin-top: auto;
	font-size: 1.2em;
	text-align: center;
	color: white;
}

.main-text,
.test1questions {
	display: block;
	text-align: center;
	padding: 10% 20%;
}

.questionBody {
	margin: auto;
/*keeps the questions from scrolling on larger screens and separate
from main-text class*/
}

/*added .test1questions to center the questions on Test 1 page without
having it as a .main-text.  There's probably a better way to do this.
I need to check it out later*/

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

	.main-text {
		padding-top: 20%;
	}
}
