/* =================================
  Base Element Styles
====================================*/

*{
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1 {
	font-size: 1.5em;
}

h1,
h2,
h3 {
	margin-top: 0;
}

p{
	font-family: 'Heebo', sans-serif;
	font-size: 1em;
}




/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
		font-size: 1.35em;
}

.main-nav {
	margin-top: 5px;
}

.name a,
.main-nav a {
	color: white;
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.main-header {
	font-family: 'Bungee Shade', cursive;
	background-color: darkgreen;
}

.main-nav a {
	font-family: 'Orbitron', sans-serif;
}

.main-nav a:hover {
	color: black;
}

.main-footer {
	background: darkgreen;
	padding: 1.5em 1em;
	margin-top: auto;
	font-size: 1.2em;
}

.main-footer {
	text-align: center;
}

.main-text {
	display: block;
	text-align: center;
	padding: 20px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
	main-header,
	footer-inner {
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
}
